@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-background: #111111;
    --color-textDark: #343434;
    --color-text: #888888;
    --color-textLight: #dddddd;
    --color-yellow: #ffcc55;
}

body {
    font-family: 'Inter', sans-serif;
}