@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter/Inter.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Semi-Bold';
  src: url('/public/fonts/Inter/Inter.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('/public/fonts/Inter/Inter.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-display: "Inter", ui-sans-serif, system-ui;
  --font-title: "Inter Semi-Bold", serif;
  --font-header: "Inter Bold", serif;

  --color-background: #111111;
  --color-backgroundLight: #181818;
  --color-foreground: #1e1e1e;
  --color-hoverable: #232323;
  --color-hovered: #2c2c2c;
  --color-textDark: #343434;
  --color-textDim: #555555;
  --color-textFaded: #666666;
  --color-text: #888888;
  --color-textLight: #dddddd;
  --color-yellow: #ffcc55;

  --color-javascript: #f7e025;
  --color-java: #af7219;
  --color-c: #555555;
  --color-cpp: #f34b7d;
  --color-csharp: #178600;
  --color-dart: #00b4ab;
  --color-hlsl: #aace60;
  --color-flutter: #64cbf8;
  --color-tailwind: #00bcff;
  --color-godot: #4d90c1;
  --color-gdscript: #842a8c;
  --color-unity: #888888;

  --animate-rotate-y-right: rotateYRight 1.5s ease-in-out;
  @keyframes rotateYRight {
    0% {
      transform: rotateY(-90deg);
      transform-origin: right;
    }
    70% {
      transform: rotateY(10deg); /* Overshoot effect */
      transform-origin: right;
    }
    100% {
      transform: rotateY(0deg); /* Final position */
      transform-origin: right;
    }
  }
}

@layer utilities {
  .bg-java { background-color: var(--color-java); }
  .bg-javascript { background-color: var(--color-javascript); }
  .bg-c { background-color: var(--color-c); }
  .bg-cpp { background-color: var(--color-cpp); }
  .bg-csharp { background-color: var(--color-csharp); }
  .bg-dart { background-color: var(--color-dart); }
  .bg-hlsl { background-color: var(--color-hlsl); }
  .bg-flutter { background-color: var(--color-flutter); }
  .bg-tailwind { background-color: var(--color-tailwind); }
  .bg-godot { background-color: var(--color-godot); }
  .bg-gdscript { background-color: var(--color-gdscript); }
  .bg-unity { background-color: var(--color-unity); }

  .animation-delay-200 {
    animation-delay: 200ms;
    animation-fill-mode: backwards;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
    animation-fill-mode: backwards;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }
}

body {
  font-family: 'Inter', sans-serif;
}
